<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.domain.yummap">

    <!-- Déclaration de la version minimale de la plate-forme -->
    <uses-sdk android:minSdkVersion="20" />

    <!-- Déclarations des permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:label="Yummap"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Déclaration de l'activité principale -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:enableOnBackInvokedCallback="true"
            android:windowSoftInputMode="adjustResize">
            

            <!-- Définition du thème -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />

            <!-- Intent filter pour l'activité principale -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Métadonnées nécessaires à Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Clé d'API Mapbox -->
        <meta-data
            android:name="com.mapbox.token"
            android:value="pk.eyJ1IjoieXVtbWFwcyIsImEiOiJjbHJ0aDRiMXEwMXZuMmpvNjN0MmcydTZ2In0.6I0LRM8gPT-soCOIcu__dg"/>

        <!-- Clé d'API Google Maps (si nécessaire) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBM05T0u8LoAKr2MtbTIjXtFmrU-06ye6U"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
</manifest>
